 .directory {
   background-color: white;
   margin: 1px;
   padding: 5px;
   height: 200px;
   border-radius: 12px;
 }
  
 .mPanel{
  background-color: white;
  /* margin: 4px; */
  /* height: 600px; */
  border-radius: 12px;
  padding: 20px;
 }

 .bSend{
   margin-bottom: 0px;
   float: left;
 }

 @media screen and (max-width:620px) {
  /* For mobile phones: */
  .left, .right {
    width:100%;
  }
}